dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

01_aoc
02_aoc
03_aoc
04_aoc
05_aoc
06_aoc
07_aoc
08_aoc
09_aoc
10_aoc
11_aoc
12_aoc
13_aoc
14_aoc
15_aoc
16_aoc
17_aoc
18_aoc
19_aoc
20_aoc
21_aoc
22_aoc
23_aoc
24_aoc
25_aoc